<style type="text/css">

    /* canvas{
        border: 1px solid black;
        position: fixed;
       
        bottom: 0px;
    } */
    body{
         background-color: ivory; 
         overflow: hidden;
    }
    body, html {
    height:100%;
    
    }
    /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
<head>
    
    <script src="jquery-3.6.0.js"></script>
</head>
<!-- <canvas id="canvas" width="1064" height="2304"></canvas> -->

<div style="clear:both;"></div>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<audio id="audiobgmloop" src="audio/bgmloop.mp3" loop="loop"></audio>
<audio id="audiotreeloop" src="audio/treeloop.mp3" loop="loop"></audio>
<audio id="audiowaterloop" src="audio/waterloop.mp3" loop="loop"></audio>
<audio id="audioearthloop" src="audio/earthloop.mp3" loop="loop"></audio>
<audio id="audioclearloop" src="audio/clearloop.mp3" loop="loop"></audio>
<audio id="audiofaile" src="audio/faile.mp3"></audio>
<audio id="audioright" src="audio/right.mp3"></audio>
<audio id="audioclick" src="audio/click.mp3"></audio>
<script type="text/javascript">
    $(function(){
    })
	//------------------------------------------------------------------------------------------------------------------------------------------------------------
    //註冊事件
    //------------------------------------------------------------------------------------------------------------------------------------------------------------
	window.addEventListener("orientationchange", function()
	{ 
		window.location.reload();
	},false);
    //------------------------------------------------------------------------------------------------------------------------------------------------------------
    //共用參數元件
    //------------------------------------------------------------------------------------------------------------------------------------------------------------
	document.body.style.zoom = window.innerHeight / 2304;
	var centerPositionX = (document.body.offsetWidth) / 2 - (1064 / 2);

	var isTutorial    = false;
    var isSelectItem  = false;
    var pressTime     = 0;

    var preloaded = 0;
    var preload_images = new Array(
        "Image/Button/Button_Next.png",
        "Image/Button/Button_Next_Down.png",
        "Image/Button/Button_Next.png",
        "Image/Button/Button_Retry_Down.png",
        "Image/Button/Button_Retry.png",
        "Image/Icon/ClickRange.png",
        "Image/Button/Button_Start.png",
        "Image/Button/Button_Start_Down.png",
        "Image/Background/1.jpg",
        "Image/Background/Description_1.jpg",
        "Image/Background/Description_2.jpg",
        "Image/Background/Description_3.jpg",
        "Image/Background/Description_4.jpg",
        "Image/Background/Description_5.jpg",
        "Image/Background/7.jpg",
        "Image/Icon/Tree.png",
        "Image/Background/8.jpg",
        "Image/Icon/Tree_Select.png",
        "Image/Background/9.jpg",
        "Image/Icon/Shovel.png",
        "Image/Text/Text_Tree.png",
        "Image/Background/10.jpg",
        "Image/Background/15.jpg",
        "Image/Icon/Shovel.png",
        "Image/Icon/Shovel_Select.png",
        "Image/Text/Text_Ground.png",
        "Image/Icon/Scoop.png",
        "Image/Background/Wheather_Sunny.jpg",
        "Image/Background/13.jpg",
        "Image/Background/12.jpg",
        "Image/Background/Wheather_Clear_1.jpg",
        "Image/Background/Wheather_Clear_2.jpg",
        "Image/Text/Text_Water.png",
        "Image/Background/14.jpg",
        "Image/Background/1.jpg",
        "Image/Text/Text_Ground.png",
        "Image/Icon/Ground.png",
        "Image/Icon/GroundBar.png",
        "Image/Icon/GroundBar_Background.png",
        "Image/Icon/TimerBar_Icon.png",
        "Image/Icon/TimerBar.png",
        "Image/Icon/TimerBar_Background.png",
        );

    var text_InputPhone   = "留下電話..";
    var text_InputName    = "誰來種樹..";
    var text_InputCommand = "留下祝福..";

    var NextButtonImg = document.createElement('img');
    NextButtonImg.src = "Image/Button/Button_Next.png";
    NextButtonImg.style.position = "absolute";
    NextButtonImg.style.zIndex  = 10;
    NextButtonImg.style.height  = 144 + 'px';
    NextButtonImg.style.width   = 141 + 'px';
    NextButtonImg.style.top     = 500 + 'px';
    NextButtonImg.style.left    = 700 + centerPositionX + 'px';
    NextButtonImg.onmousedown = function(){ NextButtonImg.src = "Image/Button/Button_Next_Down.png"; }
    NextButtonImg.onmouseup   = function(){ NextButtonImg.src = "Image/Button/Button_Next.png"; }
    NextButtonImg.onmouseout  = function(){ NextButtonImg.src = "Image/Button/Button_Next.png"; }

    var RetryButton = document.createElement('img');
    RetryButton.src = "Image/Button/Button_Retry.png";
    RetryButton.style.position = "absolute";
    RetryButton.style.zIndex = 1;
    RetryButton.style.top    = 600 + 'px';
    RetryButton.style.left   = 340 + centerPositionX+ 'px';
    RetryButton.style.width  = 405 + 'px';
    RetryButton.style.height = 180 + 'px';
    RetryButton.onclick = function(){ Retry(); }
    RetryButton.onmousedown = function(){ RetryButton.src = "Image/Button/Button_Retry_Down.png"; }
    RetryButton.onmouseup   = function(){ RetryButton.src = "Image/Button/Button_Retry.png"; }
    RetryButton.onmouseout  = function(){ RetryButton.src = "Image/Button/Button_Retry.png"; }

    var TreeAreaImg = document.createElement('img');
    TreeAreaImg.src = "Image/Icon/ClickRange.png";
    TreeAreaImg.style.position = "absolute";
    TreeAreaImg.style.zIndex = 1;
    TreeAreaImg.style.top    = 900 + 'px';
    TreeAreaImg.style.left   = 200 + centerPositionX + 'px';
    TreeAreaImg.style.width  = 300 + 'px';
    TreeAreaImg.style.height = 450 + 'px';

    InputName = document.createElement('input');
    InputName.type = 'text';
    InputName.value = text_InputName;
    InputName.style.fontSize = 48 + 'px';
    InputName.style.position = 'absolute';
    InputName.style.left     = 250  + centerPositionX + 'px';
    InputName.style.top      = 675  + 'px';
    InputName.style.width    = 600  + 'px';
    InputName.style.height   = 100  + 'px';
    InputName.style.zIndex   = 5;
    InputName.onclick        = function ()
    { 
       if(InputName.value == text_InputName)
       {
            InputName.value = "";//清空提示文字
       }
    };
    document.body.appendChild(InputName);

    InputPhome = document.createElement('input');
    InputPhome.type = 'text';
    InputPhome.value = text_InputPhone;
    InputPhome.style.fontSize = 48 + 'px';
    InputPhome.style.position = 'absolute';
    InputPhome.style.left     = 250 + centerPositionX + 'px';
    InputPhome.style.top      = 850 + 'px';
    InputPhome.style.width    = 600  + 'px';
    InputPhome.style.height   = 100  + 'px';
    InputPhome.style.zIndex   = 5;
    InputPhome.onclick        = function ()
    { 
       if(InputPhome.value == text_InputPhone)
       {
        InputPhome.value = "";//清空提示文字
        InputPhome.type = 'number';
       }
    };
    document.body.appendChild(InputPhome);
 
    var InputName;
    var InputPhome;
    var StartButton;
    var IsStarted = false;

    var StartButton = document.createElement('img');
    StartButton.src = "Image/Button/Button_Start.png";
    StartButton.style.position = "absolute";
    StartButton.style.zIndex = 1;
    StartButton.style.top    = 1000 + 'px';
    StartButton.style.left   = 340 + centerPositionX + 'px';
    StartButton.style.width  = 405 + 'px';
    StartButton.style.height = 180 + 'px';
    StartButton.onclick = function(){ StartGame(); }
    StartButton.onmousedown = function(){ StartButton.src = "Image/Button/Button_Start_Down.png"; }
    StartButton.onmouseup   = function(){ StartButton.src = "Image/Button/Button_Start.png"; }
    StartButton.onmouseout  = function(){ StartButton.src = "Image/Button/Button_Start.png"; }
    document.body.appendChild(StartButton);

    var BackgroundImg = document.createElement('img');
    BackgroundImg.src = "Image/Background/1.jpg";
    BackgroundImg.style.position = "absolute";
    BackgroundImg.style.zIndex = -999;
	BackgroundImg.style.left = centerPositionX;
    document.body.appendChild(BackgroundImg);

    
    var aFont = new FontFace('myfont', 'url(font/a.ttf)');
    //var bFont = new FontFace('myfont', 'url(font/g.ttf)');
    var NameText = document.createElement('font');
    NameText.style.fontSize  = 48;
    NameText.style.fontFamily ="'myfont'";
    NameText.style.textAlign = "center";
    NameText.style.position  = "absolute";
    NameText.style.zIndex    = 1;
    NameText.style.top       = 1022 + 'px';
    NameText.style.left      = 660  + centerPositionX + 'px';
    NameText.style.width     = 215  + 'px';
    NameText.style.height    = 64   + 'px';
    NameText.style.color     = "#693704";

    var delayInMilliseconds = 1000;


    $(document).ready(function() {
        console.log("ready");
    });

//Play Audio

    function PlayAudio(iClipname)
    {
        var audioEle = $("#"+iClipname)[0];
        audioEle.play();
    }

    function StopAudio(iClipname)
    {
        var audioEle = $("#"+iClipname)[0];
        audioEle.pause();
    }

    function preLoader(e) {
    for (var i = 0; i < preload_images.length; i++) {
        var tempImage = new Image();
         
        tempImage.addEventListener("load", progress, true);
        tempImage.src = preload_images[i];
        }
        aFont.load();
        document.fonts.add(aFont);
       // bFont.load();
        //document.fonts.add(bFont);
    }   
    function progress() {
        preloaded++;
        
        if (preloaded == preload_images.length) {
            console.log("Preload finish");
            //ALL Images have been loaded, perform the desired action
        }
    }
    this.addEventListener("DOMContentLoaded", preLoader, true);
 


//------------------------------------------------------------------------------------------------------------------------------------------------------------
    function handleEnter()
    {
        console.log("handleEnter");
    }

    function StartGame()
    {
        NameText.style.fontFamily ="'myfont'";
        PlayAudio("audioclick")
	    var Name    = InputName   .value;
        var Phone   = InputPhome  .value;

        if((Name == text_InputName || Name == "") || (Phone == text_InputPhone || Phone == ""))
        {
			alert('尚未留下姓名電話，不能前進');
			return;
        }
        PlayAudio("audiobgmloop")
        document.body.removeChild(StartButton);
        document.body.removeChild(InputName)
        document.body.removeChild(InputPhome)
       
        // TargetImg.onload = function()
        // {
        //     ctx.drawImage(TargetImg, 500,100,100,100);
        // };
        // TargetImg.setAttribute("id","TargetImg");
        // TargetImg.src = "Redpoint.png";
        IsStarted = true;
        ShowDescriptionUI();
    }

    var Timed = 0;
    setInterval(Update, 100);
    function Update()
    {
        Timed += 100;
    }
//------------------------------------------------------------------------------------------------------------------------------------------------------------
//說明階段
//------------------------------------------------------------------------------------------------------------------------------------------------------------
    function ShowDescriptionUI()
    {
        console.log("ShowDescriptionUI");
        DescriptionNumber = 1;
        BackgroundImg.src = "Image/Background/Description_" + DescriptionNumber +".jpg";
        document.body.appendChild(NextButtonImg);

        NextButtonImg.style.top     = 727 + 'px';
        NextButtonImg.style.left    = 837 + centerPositionX + 'px';
        NextButtonImg.onclick = function(){ 
            PlayAudio("audioclick")
            NextButtonImg.style.visibility = "hidden";  setTimeout(function() {
            NextDescription();
            NextButtonImg.style.visibility = "visible";
        }, delayInMilliseconds); }

    }

    function NextDescription()
    {  
        DescriptionNumber++;
        if(DescriptionNumber <= 5)
        {
            BackgroundImg.src = "Image/Background/Description_" + DescriptionNumber +".jpg";
        }
        else
        {
            EnterPlantTreeState();
            if(InputName.value != text_InputName && InputName.value != "")
            { 
                NameText.innerText = InputName.value;
            }
            else
            { 
                NameText.innerText = "玩家"; 
            }
            NameText.style.fontSize  = 48;
            NameText.style.top       = 1020 + 'px';
            NameText.style.left      = 660  + centerPositionX + 'px';
            NameText.style.width     = 215  + 'px';

            document.body.appendChild(NameText);
        }
    }
    var DescriptionNumber = 1;
//------------------------------------------------------------------------------------------------------------------------------------------------------------
//種樹階段
//------------------------------------------------------------------------------------------------------------------------------------------------------------
    function EnterPlantTreeState()
    {
        StopAudio("audiobgmloop");
        PlayAudio("audiotreeloop");
        console.log("PlantTree");
        BackgroundImg.src = "Image/Background/7.jpg";
        document.body.appendChild(TreeImg);
        document.body.appendChild(TreeTutorialImg);
        document.body.appendChild(TreeAreaImg);
        TreeAreaImg.onclick = function (){ afterPressTree();}
        isTutorial    = true;
        isSelectItem  = false;

        TreeImg.src = "Image/Icon/Tree.png";

        NextButtonImg.onclick = function(){ afterTreeTutorial(); }
          
		var $this = $(TreeTutorialImg)
        $this.fadeIn(0);

        NextButtonImg.style.top     = 350 + 'px';
        NextButtonImg.style.left    = 560 + centerPositionX + 'px';
    }

    function afterTreeTutorial()       
    {
        PlayAudio("audioclick")
        var $this = $(TreeTutorialImg)
        $this.fadeOut(1000);
        //document.body.removeChild(TreeTutorialImg);
        document.body.removeChild(NextButtonImg);
        isTutorial = false;
    }

    function afterPressTree()       
    {
        PlayAudio("audioright")
        if(isTutorial || !isSelectItem) return;
      
        document.body.removeChild(TreeImg);
        document.body.removeChild(TreeAreaImg);
        document.body.appendChild(NextButtonImg);
        BackgroundImg.src = "Image/Background/8.jpg";
        NextButtonImg.onclick = function(){ EnterGroundCoverState(); }
        NextButtonImg.style.top     = 632 + 'px';
        NextButtonImg.style.left    = 860 + centerPositionX + 'px';
    }

    var TreeImg = document.createElement('img');
    TreeImg.src = "Image/Icon/Tree.png";
    TreeImg.style.position = "absolute";
    TreeImg.style.zIndex = 0;
    TreeImg.style.top  = 300 + 'px';
    TreeImg.style.left = 600 + centerPositionX + 'px';

    var TreeTimer;
    TreeImg.onclick = function ()
    { 
        if(isTutorial) return;
        isSelectItem = true;
        TreeImg.src = "Image/Icon/Tree_Select.png";
    }

    var TreeTutorialImg = document.createElement('img');
    TreeTutorialImg.src = "Image/Text/Text_Tree.png";
    TreeTutorialImg.style.position = "absolute";
    TreeTutorialImg.style.zIndex = 1;
    TreeTutorialImg.style.top    = 100 + 'px';
    TreeTutorialImg.style.left   = 200 + centerPositionX + 'px';
    TreeTutorialImg.style.width  = 442 + 'px';
    TreeTutorialImg.style.height = 321 + 'px';

//------------------------------------------------------------------------------------------------------------------------------------------------------------
//蓋土階段
//------------------------------------------------------------------------------------------------------------------------------------------------------------
    function EnterGroundCoverState()
    {
        StopAudio("audiotreeloop");
        PlayAudio("audioearthloop");
        console.log("GroundCover");
        BackgroundImg.src = "Image/Background/9.jpg";

        document.body.removeChild(NameText);

        document.body.appendChild(ShovelImg);
        document.body.appendChild(ShovelTutorialImg);
        document.body.appendChild(NextButtonImg);
        document.body.appendChild(ShovelBar);
        document.body.appendChild(ShovelBarBackGround);
        document.body.appendChild(ShovelGroundIcon);
        document.body.appendChild(ShovelTimerBar);
        document.body.appendChild(ShovelTimerBarBackGround);
        document.body.appendChild(ShovelTimerBarIcon);

        isTutorial    = true;
        isSelectItem  = false;

		var $this = $(ShovelTutorialImg)
        $this.fadeIn(0);

        ShovelImg.src = "Image/Icon/Shovel.png";
        ShovelImg.style.top    = 950 + 'px';
        ShovelImg.style.left   = 400 + centerPositionX + 'px';
		ShovelImg.style.width  = 427 + 'px';
		ShovelImg.style.height = 384 + 'px';

        ShovelBar     .style.width = 0 + 'px';
        ShovelTimerBar.style.width = 0 + 'px';

        NextButtonImg.onclick = function(){ afterShovelTutorial(); }
        NextButtonImg.style.top  = 650 + 'px';
        NextButtonImg.style.left = 860 + centerPositionX + 'px';
    }

    function afterShovelTutorial()       
    {
        PlayAudio("audioclick")
        var $this = $(ShovelTutorialImg)
        $this.fadeOut(1000);
        document.body.removeChild(NextButtonImg);
        isTutorial = false;

        //Start Count and Time
        isSelectItem      = true;
        groundCoverCount  = 0;
        ShovelProcessTime = 0;
        ShovelImg.style.transform = "rotate("+35+"deg)"
        ShovelTimer = setInterval(ShovelUpdate, 10);
    }

    function ShovelFailed()
    {
        if(isTutorial || !isSelectItem) return;
        clearInterval(ShovelTimer);
        isSelectItem = false;
        RemoveShovelStateBar();

        StopAudio("audioearthloop");
        PlayAudio("audiofaile")
        BackgroundImg.src = "Image/Background/15.jpg";

        document.body.removeChild(ShovelImg);
        document.body.appendChild(RetryButton);
        document.body.appendChild(NameText);

        RetryButton.src = "Image/Button/Button_Retry.png";
		RetryButton.onclick = function(){ RetryShovel(); }
        RetryButton.style.top    = 600 + 'px';
        RetryButton.style.left   = 340 + centerPositionX + 'px';
		RetryButton.style.width  = 405 + 'px';
		RetryButton.style.height = 180 + 'px';
        RetryButton.onmousedown = function(){ RetryButton.src = "Image/Button/Button_Retry_Down.png"; }
        RetryButton.onmouseup   = function(){ RetryButton.src = "Image/Button/Button_Retry.png"; }
        RetryButton.onmouseout  = function(){ RetryButton.src = "Image/Button/Button_Retry.png"; }
    }

    function ShovelSuccess()
    {
        if(isTutorial || !isSelectItem) return;
        PlayAudio("audioright");
        clearInterval(ShovelTimer);
        RemoveShovelStateBar();
        
        document.body.removeChild(ShovelImg);
        document.body.appendChild(NextButtonImg);
        document.body.appendChild(NameText);

        BackgroundImg.src = "Image/Background/10.jpg";
        NextButtonImg.onclick = function(){ EnterIrrigationState(); }
        NextButtonImg.style.top  = 400 + 'px';
        NextButtonImg.style.left = 732 + centerPositionX + 'px';
    }

    function ShovelUpdate()
    {
        ShovelProcessTime += 10;
        if(ShovelProcessTime > 5000) ShovelProcessTime = 5000;
        ShovelTimerBar.style.width  = (ShovelProcessTime / 5000) * barWidth + 'px';
        ShovelTimerBar.style.height = 28 + 'px';
        if(ShovelProcessTime >= 5000) 
        {
            ShovelFailed();
        }
    }

    function RemoveShovelStateBar()
    {
        //Bar
        document.body.removeChild(ShovelBar);
        document.body.removeChild(ShovelBarBackGround);
        document.body.removeChild(ShovelGroundIcon);
        document.body.removeChild(ShovelTimerBar);
        document.body.removeChild(ShovelTimerBarBackGround);
        document.body.removeChild(ShovelTimerBarIcon);        
    }

    var ShovelTimer;
    var ShovelProcessTime = 0;
    var groundCoverCount  = 0;
    var barWidth          = 810;

    var ShovelImg = document.createElement('img');
    ShovelImg.src = "Image/Icon/Shovel.png";
    ShovelImg.style.position = "absolute";
    ShovelImg.style.zIndex = 0;
    ShovelImg.style.top    = 450 + 'px';
    ShovelImg.style.left   = 600 + centerPositionX + 'px';

    ShovelImg.onclick = function ()
    { 
        if(isTutorial) return;
        if(isSelectItem)
        {
            groundCoverCount++;
            ShovelBar.style.width  = (groundCoverCount / 10) * barWidth + 'px';
            ShovelBar.style.height = 45 + 'px';
            if(groundCoverCount >= 10)
            {
                ShovelSuccess();
                isSelectItem = false;
            }         
        }
    }
    
    ShovelImg.onpointerdown = function()
    {  
        if(isTutorial || !isSelectItem) return;
        ShovelImg.style.transform = "rotate("+0+"deg)" 
    }
    ShovelImg.onpointerup = function()
    { 
        if(isTutorial || !isSelectItem) return;
        ShovelImg.style.transform = "rotate("+35+"deg)"
    }
    ShovelImg.onpointerout = function()
    { 
        if(isTutorial || !isSelectItem) return;
        ShovelImg.style.transform = "rotate("+35+"deg)"
    }

    var ShovelTutorialImg = document.createElement('img');
    ShovelTutorialImg.src = "Image/Text/Text_Ground.png";
    ShovelTutorialImg.style.position = "absolute";
    ShovelTutorialImg.style.zIndex = 1;
    ShovelTutorialImg.style.top    = 400 + 'px';
    ShovelTutorialImg.style.left   = 100 + centerPositionX + 'px';
    ShovelTutorialImg.style.width  = 857 + 'px';
    ShovelTutorialImg.style.height = 313 + 'px';

    var ShovelBar = document.createElement('img');
    ShovelBar.src = "Image/Icon/GroundBar.png";
    ShovelBar.style.position = "absolute";
    ShovelBar.style.zIndex = 2;
    ShovelBar.style.top    = 240 + 'px';
    ShovelBar.style.left   = 129 + centerPositionX + 'px';
    ShovelBar.style.width  = 806 + 'px';
    ShovelBar.style.height = 45 + 'px';

    var ShovelBarBackGround = document.createElement('img');
    ShovelBarBackGround.src = "Image/Icon/GroundBar_Background.png";
    ShovelBarBackGround.style.position = "absolute";
    ShovelBarBackGround.style.zIndex = 1;
    ShovelBarBackGround.style.top    = 200 + 'px';
    ShovelBarBackGround.style.left   = 50 + centerPositionX + 'px';

    var ShovelGroundIcon = document.createElement('img');
    ShovelGroundIcon.src = "Image/Icon/Ground.png";
    ShovelGroundIcon.style.position = "absolute";
    ShovelGroundIcon.style.zIndex = 3;
    ShovelGroundIcon.style.top    = 150 + 'px';
    ShovelGroundIcon.style.left   = 820 + centerPositionX + 'px';
    ShovelGroundIcon.style.width  = 250 + 'px';
    ShovelGroundIcon.style.height = 211 + 'px';

    var ShovelTimerBar = document.createElement('img');
    ShovelTimerBar.src = "Image/Icon/TimerBar.png";
    ShovelTimerBar.style.position = "absolute";
    ShovelTimerBar.style.zIndex = 2;
    ShovelTimerBar.style.top    = 100 + 'px';
    ShovelTimerBar.style.left   = 126 + centerPositionX + 'px';
    ShovelTimerBar.style.width  = 806 + 'px';
    ShovelTimerBar.style.height = 28 + 'px';

    var ShovelTimerBarBackGround = document.createElement('img');
    ShovelTimerBarBackGround.src = "Image/Icon/TimerBar_Background.png";
    ShovelTimerBarBackGround.style.position = "absolute";
    ShovelTimerBarBackGround.style.zIndex = 1;
    ShovelTimerBarBackGround.style.top    = 50 + 'px';
    ShovelTimerBarBackGround.style.left   = 50 + centerPositionX + 'px';

    var ShovelTimerBarIcon = document.createElement('img');
    ShovelTimerBarIcon.src = "Image/Icon/TimerBar_Icon.png";
    ShovelTimerBarIcon.style.position = "absolute";
    ShovelTimerBarIcon.style.zIndex = 3;
    ShovelTimerBarIcon.style.top    = 0 + 'px';
    ShovelTimerBarIcon.style.left   = 820 + centerPositionX + 'px';
    ShovelTimerBarIcon.style.width  = 250 + 'px';
    ShovelTimerBarIcon.style.height = 211 + 'px';
//------------------------------------------------------------------------------------------------------------------------------------------------------------
//澆水階段
//------------------------------------------------------------------------------------------------------------------------------------------------------------
    function EnterIrrigationState()
    {
        StopAudio("audioearthloop");
        PlayAudio("audiowaterloop");
        PlayAudio("audioclick")
        console.log("Irrigation");
        document.body.appendChild(ScoopImg);
        document.body.appendChild(ScoopTutorialImg);
		document.body.appendChild(TreeAreaImg);
		document.body.appendChild(NextButtonImg);
        
		var $this = $(ScoopTutorialImg)
        $this.fadeIn(0);

		ScoopImg     .src = "Image/Icon/Scoop.png";
		BackgroundImg.src = "Image/Background/Wheather_Sunny.jpg";
        isTutorial    = true;
        isSelectItem = false;

		TreeAreaImg  .onclick = function (){ afterPressScoop();}
        NextButtonImg.onclick = function (){ afterIrrigationTutorial(); }
        NextButtonImg.style.top     = 600 + 'px';
        NextButtonImg.style.left    = 480 + centerPositionX + 'px';

        WeatherState = 0;
        WeatherTimer = setInterval(WeatherUpdate, 1000);
    }

    function afterIrrigationTutorial()
    {
        PlayAudio("audioclick")
        
        var $this = $(ScoopTutorialImg)
        $this.fadeOut(1000);
        //document.body.removeChild(ScoopTutorialImg);
        document.body.removeChild(NextButtonImg);
        isTutorial = false;
    }

    function afterPressScoop()       
    {
        if(isTutorial || !isSelectItem) return;
        clearInterval(WeatherTimer);
        document.body.removeChild(ScoopImg);
        document.body.removeChild(TreeAreaImg);
        if(WeatherState > 1)
        {
            ScoopSuccess();
        }
        else
        {
            ScoopFailed();
        }
    }

    function ScoopSuccess()
    {
        PlayAudio("audioright")
        BackgroundImg.src = "Image/Background/13.jpg";

        document.body.appendChild(NextButtonImg);
        NextButtonImg.onclick = function(){PlayAudio("audioclick"); EndGame(); }
        NextButtonImg.style.top  = 400 + 'px';
        NextButtonImg.style.left = 855 + centerPositionX + 'px';
    }

    function ScoopFailed()
    {
        StopAudio("audiowaterloop")
        PlayAudio("audiofaile")
        BackgroundImg.src = "Image/Background/12.jpg";
        document.body.appendChild(RetryButton);

        RetryButton.src = "Image/Button/Button_Retry.png";
		RetryButton.onclick = function(){ RetryIrrigation(); }
        RetryButton.style.top    = 600 + 'px';
        RetryButton.style.left   = 340 + centerPositionX + 'px';
		RetryButton.style.width  = 405 + 'px';
		RetryButton.style.height = 180 + 'px';
        RetryButton.onmousedown = function(){ RetryButton.src = "Image/Button/Button_Retry_Down.png"; }
        RetryButton.onmouseup   = function(){ RetryButton.src = "Image/Button/Button_Retry.png"; }
        RetryButton.onmouseout  = function(){ RetryButton.src = "Image/Button/Button_Retry.png"; }
    }

    function WeatherUpdate()
    {
        WeatherState += 1;
        if(WeatherState > 3){ WeatherState = 1; }
        if(WeatherState == 1)
        {
            BackgroundImg.src = "Image/Background/Wheather_Sunny.jpg";
        }
        else if(WeatherState == 2)
        {
            BackgroundImg.src = "Image/Background/Wheather_Clear_1.jpg";
        }
        else if(WeatherState == 3)
        {
            BackgroundImg.src = "Image/Background/Wheather_Clear_2.jpg";
        }
    }
    var WeatherTimer;
    var WeatherState = 0;
    
    var ScoopImg = document.createElement('img');
    ScoopImg.src = "Image/Icon/Scoop.png";
    ScoopImg.style.position = "absolute";
    ScoopImg.style.zIndex = 0;
    ScoopImg.style.top  = 450 + 'px';
    ScoopImg.style.left = 600 + centerPositionX + 'px';
    var ScoopTimer;
    ScoopImg.onclick = function ()
    { 
        if(isTutorial) return;
        isSelectItem = true;
        ScoopImg.src = "Image/Icon/Scoop_Select.png";
    }

    var ScoopTutorialImg = document.createElement('img');
    ScoopTutorialImg.src = "Image/Text/Text_Water.png";
    ScoopTutorialImg.style.position = "absolute";
    ScoopTutorialImg.style.zIndex = 1;
    ScoopTutorialImg.style.top    = 300 + 'px';
    ScoopTutorialImg.style.left   = 80  + centerPositionX + 'px';
    ScoopTutorialImg.style.width  = 497 + 'px';
    ScoopTutorialImg.style.height = 398 + 'px';
//------------------------------------------------------------------------------------------------------------------------------------------------------------
//結束階段
//------------------------------------------------------------------------------------------------------------------------------------------------------------
    function EndGame()
    {
        StopAudio("audiowaterloop")
        PlayAudio("audioclearloop")
        NameText.style.fontSize   = 61;
        NameText.style.top        = 627.5 + 'px';
        NameText.style.fontFamily = "'myfont'";
        NameText.style.left       = 170 + centerPositionX + 'px';
        NameText.style.width      = 330 + 'px';

        document.body.removeChild(NextButtonImg);
        document.body.appendChild(RetryButton);
        document.body.appendChild(InputCommand);
        InputCommand.value = text_InputCommand;

		RetryButton.onclick = function(){ BackToHome(); }
        RetryButton.style.top    = 1200 + 'px';
        RetryButton.style.left   = 440  + centerPositionX + 'px';
		RetryButton.style.width  = 202  + 'px';
		RetryButton.style.height = 90   + 'px';

        RetryButton.src = "Image/Button/Button_Send.png";
        RetryButton.onmousedown = function(){ RetryButton.src = "Image/Button/Button_Send_Down.png"; }
        RetryButton.onmouseup   = function(){ RetryButton.src = "Image/Button/Button_Send.png"; }
        RetryButton.onmouseout  = function(){ RetryButton.src = "Image/Button/Button_Send.png"; }

        BackgroundImg.src = "Image/Background/14.jpg";
    }

    function RetryShovel()
    {
        StopAudio("audiofaile")
		document.body.removeChild(RetryButton);
		EnterGroundCoverState();
	}

    function RetryIrrigation()
    {
        StopAudio("audiofaile")
		document.body.removeChild(RetryButton);
		EnterIrrigationState();
	}

	function BackToHome()
	{
        StopAudio("audioclearloop")
        PlayAudio("audioclick")
		SendData();
        document.body.removeChild(InputCommand);
		document.body.removeChild(NameText);
		document.body.removeChild(RetryButton);

		document.body.appendChild(StartButton);
		document.body.appendChild(InputName);
		document.body.appendChild(InputPhome);

		InputName .value = text_InputName;
		InputPhome.value = text_InputPhone;
		BackgroundImg.src = "Image/Background/1.jpg";  
	}

    InputCommand = document.createElement('input');
    InputCommand.type  = 'text';
    InputCommand.value = text_InputCommand;
    InputCommand.style.fontSize = 48 + 'px';
    InputCommand.style.position = 'absolute';
    InputCommand.style.left     = 200  + centerPositionX + 'px';
    InputCommand.style.top      = 1075 + 'px';
    InputCommand.style.width    = 700  + 'px';
    InputCommand.style.height   = 100  + 'px';
    InputCommand.style.zIndex   = 5;
    InputCommand.onclick        = function ()
    { 
       if(InputCommand.value == text_InputCommand)
       {
            InputCommand.value = "";//清空提示文字
       }
    };
//------------------------------------------------------------------------------------------------------------------------------------------------------------
//傳送姓名電話功能
//------------------------------------------------------------------------------------------------------------------------------------------------------------
    function SendData()
    {
        var Name    = InputName   .value;
        var Phone   = InputPhome  .value;
        var Command = InputCommand.value;
        if((Name    == text_InputName    || Name    == "") 
        && (Phone   == text_InputPhone   || Phone   == "")
        && (Command == text_InputCommand || Command == ""))
        {
            //都不填就不傳
            return;
        }
        jQuery.ajax({
        type: "POST",
        url: "https://www.googleapis.com/oauth2/v4/token",
        contentType: 'application/x-www-form-urlencoded; charset=utf-8 crossDomain:true,',
        data: 'refresh_token=1//0eW4U4IuZcrVZCgYIARAAGA4SNwF-L9IroLlbVF29dFVAJG1CIRmFEPBZnQMdkHyofNIXKeKJGE2cy0uR67ajlXwfoHWfVoedKio&'+
        'client_id=865740690405-6btc6gmjpc9usvj6qac4dk5vnk6gpfot.apps.googleusercontent.com&'+
        'client_secret=_8EEybply_-m3JWZp0mXkFdP&'+
        'redirect_uri=http://www.liudui300.url.tw/game.html&'+
        'grant_type=refresh_token',
        success: function(data) {
            console.log(data.access_token);
            if(data.access_token != "")
            {
                jQuery.ajax({
                type: "POST",
                contentType: "application/json;",
                url: 'https://sheets.googleapis.com/v4/spreadsheets/1vOIoWdgL1P37Qse5VeDWx3e_eAJ1td_CtjZGgaNbunY/values/Sheet1!A1:C1:append?valueInputOption=USER_ENTERED&access_token='+data.access_token,
                data: JSON.stringify({
                    "range": "Sheet1!A1:C1",
                    "majorDimension": "ROWS",
                    "values":[[Name, Phone, Command]],
                }),
                success: function(data, status, xhr) {
                    console.log('Responsed Data: ', data);
                    console.log('Responsed Status: ', status);
                    console.log( 'Responsed xhr: ', xhr);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log( 'Responsed jqXHR: ', jqXHR);
                    console.log( 'Responsed textStatus: ', textStatus);
                    console.log( 'Responsed errorThrown: ', errorThrown);
                }
            });     

            }
        }
    });
    }

    function tESTSendData()
    {
        var Name    = "AAA";
        var Phone   = "BBB";
        var Command = "CCC";
        jQuery.ajax({
        type: "POST",
        url: "https://www.googleapis.com/oauth2/v4/token",
        contentType: 'application/x-www-form-urlencoded; charset=utf-8 crossDomain:true,',
        data: 'refresh_token=1//0eW4U4IuZcrVZCgYIARAAGA4SNwF-L9IroLlbVF29dFVAJG1CIRmFEPBZnQMdkHyofNIXKeKJGE2cy0uR67ajlXwfoHWfVoedKio&'+
        'client_id=865740690405-6btc6gmjpc9usvj6qac4dk5vnk6gpfot.apps.googleusercontent.com&'+
        'client_secret=_8EEybply_-m3JWZp0mXkFdP&'+
        'redirect_uri=https://www.liudui300.url.tw/game.html&'+
        'grant_type=refresh_token',
        success: function(data) {
            console.log(data.access_token);
            if(data.access_token != "")
            {
                jQuery.ajax({
                type: "POST",
                contentType: "application/json;",
                url: 'https://sheets.googleapis.com/v4/spreadsheets/1vOIoWdgL1P37Qse5VeDWx3e_eAJ1td_CtjZGgaNbunY/values/Sheet1!A1:C1:append?valueInputOption=USER_ENTERED&access_token='+data.access_token,
                data: JSON.stringify({
                    "range": "Sheet1!A1:C1",
                    "majorDimension": "ROWS",
                    "values":[[Name, Phone, Command]],
                }),
                success: function(data, status, xhr) {
                    console.log('Responsed Data: ', data);
                    console.log('Responsed Status: ', status);
                    console.log( 'Responsed xhr: ', xhr);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log( 'Responsed jqXHR: ', jqXHR);
                    console.log( 'Responsed textStatus: ', textStatus);
                    console.log( 'Responsed errorThrown: ', errorThrown);
                }
            });     

            }
        }
    });
    }
</script>

